<div class="l-container">
   <div class="l-question">
      <div class="l-text-title">
         <h2> <b>(1/10) | Categoría </b> ¿Soy una pregunta?</h2>
      </div> <!-- l-text-title -->
      <div class="l-answers">
          <div class="l-answer-option">Opción 1</div>
          <div class="l-answer-option l-error">Opción 1</div>
          <div class="l-answer-option l-correct">Opción 1</div>
      </div>
      <button class="l-button">Iniciar</button>
   </div>
</div>





<!--
<button
class="l-button"
(click)="this.import()" >Cargar datos</button>
-->
